@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 20px;
  color: rgb(25, 129, 136);
  font-size: 20px;
}

.box {
  background-color: rgb(96, 100, 97);
  color: rgb(176, 154, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 35px;
}

.box a {
  text-decoration: none;
  color: rgb(237, 225, 225);
}